/*
=================
    1. Typography
    2. Header
    3. Logo
    4. Buttons
=================
*/


/*
    typography
=============================*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
    font-family: 'Raleway', serif;
    color: #000;
    text-align: center;
}

/*
    header
=============================*/

.header {
    height: 150px;
    background-color: #8DC153;
}

/*
    logo
==============================*/

.logo {
    width: 220px;
    margin-top: 25px;
}

/*
    button
==============================*/

.button {
    margin-top: 30px;
    padding: 0;
    background-color: #fff;
    border-radius: 15px;
}
.button:hover {
    padding: 0;
    background-color: #fff;
}
.icon {
    font-size: 100px;
    color: #8bc34a;
}
.icon:hover {
    font-size: 100px;
    color: #8DC153;
}
.login h1,
.login p {
    font-size: 40px;
}
.login p {
    margin-top: 40px;
}

/*
    footer
===============================*/

.footer {
    margin-top: 160px;
    margin-bottom: 0;
}
